<section id="second" #second>
  <div class="d-flex flex-row second-wrapper">
    <div class="left-card">
      <h3 class="mb-4">Greenchip 2.0</h3>
      <p>Analyze your vision…. Create your future. <br>
        Première formation aux métiers techniques du numérique en oriental, <span>totalement gratuite</span> ,
        professionnalisante,
        intensive et ne nécessite aucun prérequis technique. Juste une bonne dose de motivation! <br>
        <span>Greenchip 2.0</span> applique la pédagogie active dans son processus de formation, de <span>12
          mois</span>, et qui permet aux
        apprenant.e.s de confronter des situations concrètes via des projets individuels et collectifs. <br>
        Un accompagnement en insertion professionnelle tout au long de la formation assurée par une équipe
        pluridisciplinaire de professionnel. <br>
        La formation porte sur les métiers du numérique : développement web/mobile, développeur data, référent digital.
        <span>Greenchip 2.0</span>, un pont vers de nouveaux horizons …. Vers, la génération de demain.
      </p>
      <button> <a routerLink="/candidater">Voir Plus</a></button>
    </div>

    <div class="right-card">
      <h3 class="mb-4"> Comment ça marche ?</h3>
      <ul>
        <li *ngFor="let paraph of items">{{ paraph }}</li>
      </ul>
      <button><a routerLink="/candidatures">Plus sur les études</a></button>
    </div>

  </div>
</section>
