<section id="second">
  <div class="d-flex flex-row second-wrapper">
    <div class="left-card">
      <h3 class="mb-4">Greenchip 2.0</h3>
      <p>Une formation gratuite, professionnalisante, intensives et ne nécessite aucun prérequis technique, juste une
        bonne dose de motivation. <br>
        Avec notre méthode active, l'apprenant est confronté à des mises en situation concrètes via des projets
        individuels et en groupe. <br>
        On garantit un parcours professionnel, dans le monde de l'entreprise tout au long de laformation.
        Green chip 2.0, c'est le pont vers de nouveux horizons Verts la génération de demain
      </p>
      <button>Voir Plus</button>
    </div>

    <div class="right-card">
      <h3 class="mb-4">Comment ça marche ?</h3>
      <ul>
        <li *ngFor="let paraph of items">{{ paraph }}</li>
      </ul>
      <button>Plus sur les études</button>
    </div>

  </div>
</section>
