<!--  START OF THE STATIC PART  -->
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>

  <!-- /* --------------------------- START OF NAVBAR  -------------------------------- */ -->
  <header>

    <nav>
      <div class="wrapper">
        <div class="theContainer d-flex flex-row">
          <!-- menu -->
          <div class="navItems d-flex flex-column flex-md-row">
            <div class="logo">
              <a routerLink="/Acceuil"><img src="../assets/images/logo.png" style="width: 100%;"></a>
            </div>
            <div class="itemsList">
              <ul>
                <li> <a routerLink="/">A propos</a></li>
                <li><a routerLink="/"> Formation</a></li>
                <li><a routerLink="/Candidatures">Candidatures</a></li>
                <li><button class="button_1" (click)="openModalWithClass(template)">Inscris-Toi</button></li>
              </ul>

            </div>
          </div>
          <!-- menu Toggler -->
          <div class="menuToggler ml-3">
            <button (click)="openNav()"></button>
          </div>
        </div>
      </div>
    </nav>

  </header>
  <!-- /* --------------------------- end OF NAVBAR  -------------------------------- */ -->


  <main>
    <!--  START OF ROUTER  -->
    <router-outlet></router-outlet>
    <!--  END  OF ROUTER  -->
  </main>

  <!-- template modal  -->
  <ng-template #template>

    <div class="modal-header">
      <div class="modal-logo"><img src="../assets/images/logo.png" alt="logo" class="w-100"></div>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">

      <form [formGroup]="candidatform" (ngSubmit)="onSubmit()">
        <div class="d-flex flex-wrap">

          <div class="group">
            <input type="text" formControlName="lastname" required /><span class="highlight"></span><span
              class="bar"></span>
            <label>Nom</label>
          </div>

          <div class="group">
            <input type="text" formControlName="firstname" required /><span class="highlight"></span><span
              class="bar"></span>
            <label>Prénom</label>
          </div>

          <div class="group">
            <input type="text" formControlName="address" required="required" /><span class="highlight"></span><span
              class="bar"></span>
            <label>Adresse</label>
          </div>

          <div class="group">
            <input type="email" formControlName="email" required="required" /><span class="highlight"></span><span
              class="bar"></span>
            <label>Email</label>
          </div>

          <div class="group">
            <input type="text" formControlName="number" required="required" /><span class="highlight"></span><span
              class="bar"></span>
            <label>Numéro de téléphone</label>
          </div>

          <div class="group">
            <select formControlName="campus" class="campus-select" required="required">

              <option value="Oujda">Oujda</option>
              <option value="Berkane">Berkane</option>
              <option value="Jerada">Jerada</option>
            </select>
            <label>Campus</label>
          </div>

          <div class="group">
            <textarea type="textarea" rows="4" formControlName="motivation" required="required"></textarea><span
              class="highlight"></span>
            <label>Motivation</label>
          </div>

          <div class="btn-box">
            <button class="btn btn-submit mr-2" type="submit" [disabled]="!candidatform.valid">Validé</button>
            <button class="btn btn-cancel" type="button" (click)="modalRef.hide()">Annuler</button>
          </div>
        </div>

      </form>

    </div>
  </ng-template>





  <!-- /* --------------------------- START OF THE FOOTER   -------------------------------- */ -->

  <app-contact-section></app-contact-section>

  <footer class="container_2">
    <div class="c2_i1">
      <h6>CONTACTER-NOUS SUR : </h6>
      <h5>aljisr@menara.ma</h5>
    </div>
    <div class="c2_i2">
      <p>© Made with love <img src="../assets/images/heart.png"> by coding gang </p>
    </div>
    <div class="c2_i3">
      <h6>Suivez-nous sur les reseaux sociaux</h6>
      <div class="container_2_1">
        <div class="facebook"><img src="../assets/images/facebook logo.png"> </div>
        <div class="twitter"><img src="../assets/images/twitter logo.png"> </div>
        <div class="linkedin"><img src="../assets/images/linkedin logo.png"> </div>
        <div class="youtube"><img src="../assets/images/youtube logo.png"> </div>
      </div>
    </div>
  </footer>

</body>

</html>

<!--  END  OF THE STATIC PART       -->
<!-- -___- DUUUHHHHH!! -->
