
<!--  START OF THE STATIC PART  -->
      <html lang="en">
      <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
      </head>
      <body>

            <ul>    


              <li></li>
              <li>A propos</li>
              <li>Formation</li>
              <li>Candidatures</li>
              <li>Inscri-Toi</li>


              



            </ul>





        
      </body>
      </html>












<!--  END  OF THE STATIC PART  -->


<!--  START OF THE DYNAMIC PART  -->
<router-outlet></router-outlet>
<!--  END  OF THE DYNAMIC PART  -->

