.hero-section {
  padding-top: 5.2rem;
}

.video-holder {
  position: relative;
  padding-bottom: 7rem;
}

.video-holder::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../assets/images/background_picture.png") no-repeat center center;
  background-size: cover;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  z-index: 0;
}

/* rotation animation */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}



.f-circle {
  animation: rotate 4s ease-in-out infinite;
  -webkit-animation: rotate 4s ease-in-out infinite;
}

.s-circle {
  animation: rotate 4s ease-in-out infinite reverse;
  -webkit-animation: rotate 4s ease-in-out infinite reverse;
}

/* end rotation animation */

.l-hero {
  width: 30rem;
  height: 30rem;
  position: relative;
  top: 6rem;

}

.inner-circle {
  position: relative;
  top: -30rem;

}

.play-button {
  position: relative;
  width: 5rem;
  height: 5rem;
  top: -18rem;
  right: -13rem;
}


.r-hero {
  color: white;
  z-index: 1;
  flex: 1;
}

/* .r-hero h1 {} */

.r-hero button {
  background: #1BC193;
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 37px;
  font-weight: bold;
  box-shadow: 0 9px #1AA57E;
  -webkit-border-radius: 37px;
  -moz-border-radius: 37px;
  -ms-border-radius: 37px;
  -o-border-radius: 37px;
}

.r-hero button:active {
  background-color: #1AA57E;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}






/* media query */

@media screen and (max-width: 988px) {
  .l-hero {
    display: none;
  }
}
