<section class="hero-section">
  <div class="video-holder d-flex align-items-center">
    <div class="l-hero">

      <div class="outer-circle">
        <img src="../../assets/images/eclipse1.png" alt="outer circle" class="w-100 h-100 f-circle">
        <div class="inner-circle"><img src="../../assets/images/eclipse2.png" alt="inner circle"
            class="s-circle w-100 h-100">
          <div class="play-button"><img src="../../assets/images/play button.png" alt="button" class="w-100 h-100">
          </div>
        </div>
      </div>

    </div>
    <div class="r-hero col mt-5 ml-4">
      <div class="h1">Commencez votre nouvelle carrière</div>
      <div class="h4">Ton avenir entre <br> Tes mains</div>
      <button class="text-uppercase"> dès maintenant</button>
    </div>
  </div>
</section>
