<section class="campus m-3 ">

  <div class="container_4">




    <div class="C_4_1">


      <div class="item1">

        <img src="../../assets/images/campus section.png">
      </div>

      <div class="item2">


        <h6>CAMPUS OUJDA</h6>
        <p>À environ 1h30 de Casablanca, 3h de Marrakech, Khouribga est une petite ville sympa. Treize, Trente-Sept est
          située au cœur du Mail Central, un endroit idéal pour allier culture et code.</p>


      </div>




    </div>

    <div class="C_4_2">


      <div class="item1">

        <img src="../../assets/images/campus section.png">
      </div>

      <div class="item2">


        <h6>CAMPUS JERRADA</h6>
        <p>À environ 1h30 de Casablanca, 3h de Marrakech, Khouribga est une petite ville sympa. Treize, Trente-Sept est
          située au cœur du Mail Central, un endroit idéal pour allier culture et code.</p>


      </div>
    </div>


    <div class="C_4_3">


      <div class="item1">

        <img src="../../assets/images/campus section.png">
      </div>

      <div class="item2">


        <h6>CAMPUS BERKANE</h6>
        <p>À environ 1h30 de Casablanca, 3h de Marrakech, Khouribga est une petite ville sympa. Treize, Trente-Sept est
          située au cœur du Mail Central, un endroit idéal pour allier culture et code.</p>


      </div>

    </div>

  </div>

</section>
