<section class="campus m-3 ">

  <h2 class="text-center mt-5">NOS CAMPUS</h2>

  <div class="container_4">

    <div class="C_4_1">


      <div class="item1">

        <img src="../../assets/images/campus.png" alt="campus oujda">
      </div>

      <div class="item2">


        <h6>CAMPUS OUJDA</h6>


      </div>




    </div>

    <div class="C_4_2">


      <div class="item1">

        <img src="../../assets/images/campus.png" alt="campus jerada">
      </div>

      <div class="item2">

        <h6>CAMPUS JERADA</h6>

      </div>
    </div>


    <div class="C_4_3">


      <div class="item1">

        <img src="../../assets/images/campus.png" alt="campus berkane">
      </div>

      <div class="item2">

        <h6>CAMPUS BERKANE</h6>

      </div>

    </div>

  </div>

</section>
