    <div class="container_8">

            <div class="card1">
            <h1>Développeur web et mobile</h1>
            <p>Du 07 octobre 2019 au 04 novembre 2019 <br> Date limite de candidature : 30 septembre 2019</p>
            <h6>Je candidate ></h6>
                <div class="card1_1">

                    <p>#Développeur web et mobile</p>
                    <div id="icon">

                        <p>Oujda</p>
                        <img src="../../../assets/images/location.png">




                    </div>

                </div>

            </div>





            <div class="card2">



                    <h1>Référent digital</h1>
                    <p>Du 07 octobre 2019 au 04 novembre 2019 <br> Date limite de candidature : 30 septembre 2019</p>
                    <h6>Je candidate ></h6>
                        <div class="card2_1">
        
                            <p>#Référent digital</p>
                            <div id="icon_2">
        
                                <p>Oujda</p>
                                <img src="../../../assets/images/location_2.png">
        
        
        
        
                            </div>
        
                        </div>







            </div>
           


















    </div>