<section class="douda-section">



<div class="heading">   

                <h1>12 mois pour vivre ta passion</h1>
                <div class="ligne"></div>




</div>


<div class="hidden">

                <div class="container_5">


                                <div class="C_5_1">


                                        <h6>SAS - Self Assessment Skill</h6>
                                        <p>période de familiarisation avec <br> les outils informatique </p>
                                        <div class="shape_1"></div>
                                        <div class="shape_2"></div>
                                



                                </div>



                                <div class="C_5_2">



                                        
                                        <h6>Formation technique en développement informatique</h6>
                                        <p>apprendre les les compétences nécessaires<br> avec des projets d'introduction
                                                </p>
                                        <div class="shape_1"></div>
                                        <div class="shape_2"></div>
                                        



                                </div>

                </div>


                <div class="container_6">



                                <div class="c_6_1">

                                        <img src="../../assets/images/rectangle.png">

                                </div>



                                <div class="c_6_2">


                                        <div class="shape_2"></div>
                                        <div class="shape_1"></div>
                                        <h6>Stage en entreprise</h6>
                                        <p>réaliser vos ambitions et <br> perfectionner vos compétences 
                                        </p>
                                
                                                


                                </div>
























                </div>

        </div>




        <div class="container_7">




                <div class="c_7_1">


                        
                        <img src="../../assets/images/rectangle verso.png">


                        
                </div>




                <div class="c_7_2">


                        
                                <img  id="zerwata_1" src="../../assets/images/zerwata.png">
                                <img id="zerwata_2" src="../../assets/images/zerwata.png">
                                <img id="zerwata_3" src="../../assets/images/zerwata.png">

        
                 
                </div>


                
                <div class="c_7_3">


                        
        
                        <div class="c_7_3_1">

                                                <h6>SAS - Self Assessment Skill</h6>
                                                <p>période de familiarisation avec <br> les outils informatique </p>
                                                <div class="shape_1"></div>
                                                <div class="shape_2"></div>
                                        
        
                        </div>
        

                        
                        <div class="c_7_3_2">

                                                <h6>Formation technique en développement informatique</h6>
                                                <p>apprendre les les compétences nécessaires<br> avec des projets d'introduction</p>
                                                <div class="shape_1"></div>
                                                <div class="shape_2"></div>
                                

                        </div>



                           
                        <div class="c_7_3_3">

                                                <h6>Stage en entreprise</h6>
                                                <p>réaliser vos ambitions et <br> perfectionner vos compétences </p>
                                                <div class="shape_1"></div>
                                                <div class="shape_2"></div>
                                

                        </div>

                        

                     
                        



        

        
        
                                
                </div>



                
        
























        </div>




               
                    
                    
               
        
    






           















</section>
