<section class="speci-section">
  <div class="d-flex">
    <div class="spec-left">
      <h2 class="text-uppercase">spécialités</h2>
    </div>

    <div class="spec-right">
      <div class="f-box d-flex flex-wrap">
        <div class="l-side ">
          <h4>Développeur data: </h4>
          <p>M1: Importer et nettoyer les données
          </p>
          <p>M2: comprendre et utiliser les bases de données
          </p>
          <p>M3: Manipuler et exploiter les données
          </p>
          <p>M4: visualiser et partager les données
          </p>

        </div>
        <div class="r-side">
          <h4>Métiers visés:</h4>
          <div class="jobs-box">

          </div>
        </div>
      </div>

      <div class="f-box d-flex flex-wrap">
        <div class="l-side ">
          <h4>Développeur data: </h4>
          <p>M1: Importer et nettoyer les données
          </p>
          <p>M2: comprendre et utiliser les bases de données
          </p>
          <p>M3: Manipuler et exploiter les données
          </p>
          <p>M4: visualiser et partager les données
          </p>

        </div>
        <div class="r-side">
          <h4>Métiers visés:</h4>
          <div class="jobs-box">

          </div>
        </div>

      </div>
      <div class="f-box d-flex flex-wrap">
        <div class="l-side ">
          <h4>Développeur data: </h4>
          <p>M1: Importer et nettoyer les données
          </p>
          <p>M2: comprendre et utiliser les bases de données
          </p>
          <p>M3: Manipuler et exploiter les données
          </p>
          <p>M4: visualiser et partager les données
          </p>

        </div>
        <div class="r-side ">
          <h4>Métiers visés:</h4>
          <div class="jobs-box">

          </div>
        </div>

      </div>

    </div>
  </div>
</section>
