<section id="speci-section">
  <div class="d-flex">
    <div class="spec-left">
      <h2 class="text-uppercase">spécialités</h2>
    </div>


    <div class="spec-right ml-3">
      <div class="f-box d-flex flex-wrap">
        <div class="l-side ">
          <h4>Développeur data: </h4>
          <p *ngFor="let i of devdata">{{i.id}}: {{i.content}}</p>
        </div>
        <div class="r-side">
          <h4>Métiers visés:</h4>
          <div class="jobs-box">
            <p *ngFor="let j of datajob">{{j}}</p>

          </div>
        </div>
      </div>

      <div class="f-box d-flex flex-wrap">
        <div class="l-side ">
          <h4>Référent Digital: </h4>
          <p *ngFor="let i of refdeg">{{i.id}}: {{i.content}}</p>
        </div>
        <div class="r-side">
          <h4>Métiers visés:</h4>
          <div class="jobs-box">
            <p *ngFor="let j of digijob">{{j}}</p>
          </div>
        </div>

      </div>
      <div class="f-box d-flex flex-wrap">
        <div class="l-side ">
          <h4>Développeur web et mobile: </h4>
          <p *ngFor="let i of devweb">{{i.id}}: {{i.content}}</p>
        </div>
        <div class="r-side ">
          <h4>Métiers visés:</h4>
          <div class="jobs-box">
            <p *ngFor="let j of webjob">{{j}}</p>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>
