.speci-section {
  background-color: #1BC193;
  padding-bottom: 7rem;
  color: white;
}

.spec-left {
  position: relative;
  width: 15%;
}


.spec-left h2 {
  position: absolute;
  top: 17rem;
  right: -6rem;
  font-size: 4rem;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.spec-right {
  width: 75%;
  margin-top: 5rem;
  margin-right: 5rem;
  border: white solid;

}



.f-box {
  border-bottom: white solid;
  padding-top: 20px;
}


.l-side {
  margin-left: 2rem;
  margin-bottom: 2rem;
  flex: 1;
}

.l-side h4 {
  padding-bottom: 3rem;
  position: relative;
}

.l-side h4::before {
  content: "";
  position: absolute;
  background-color: white;
  width: 9rem;
  height: 3px;
  top: 3.5rem;
  left: 3rem;

}

.l-side p {
  position: relative;
  padding-left: 3rem;
  font-weight: 500;

}

.l-side p::before {
  content: "";
  position: absolute;
  background-color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}


.r-side {
  margin-left: 2rem;
  flex: 1;

}

.jobs-box {
  border: white solid 1px;
  padding: 27px;
  margin: 23px;
  width: 66%;
  position: relative;

}

.jobs-box p {
  font-weight: 500;

}

.jobs-box::before {
  position: absolute;
  content: "";
  background-color: white;
  width: 7rem;
  height: 3rem;
  right: -4rem;

}


/* media query  */

@media screen and (max-width: 988px) {


  .jobs-box::before {
    display: none;
  }


}
