<section class="candidature">
  <div class="upper-part">
    <div class="center-box d-flex justify-content-center align-items-center flex-column">
      <h2>Candidater à une formation</h2>
      <p>Vous pouvez maintenant choisir parmis nos <span>3</span> formations déployés dans la région de Oujda</p>

      <form [formGroup]="selectedCity">
        <div class="d-flex flex-column align-items-center">
          <div class="d-flex flex-column align-items-center flex-md-row m-3 ">
            <select class="mr-4 mb-3" formControlName="city" id="city">
              <option value="" disabled selected>J'habite à ...</option>
              <option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>
            </select>
            <select formControlName="course" id="course" class="mb-3 mr-4">
              <option value="" disabled selected>Je veux devenir un ...</option>

              <option *ngIf="nagasa == 1">{{courses[0]}}</option>
              <option *ngIf="nagasa == 2">{{courses[1]}}</option>
              <option *ngIf="nagasa == 3">{{courses[2]}}</option>

              <option *ngIf="nagasa == 4">{{courses[0]}}</option>
              <option *ngIf="nagasa == 4">{{courses[1]}}</option>
              <option *ngIf="nagasa == 4">{{courses[2]}}</option>
            </select>
          </div>
          <button><a routerLink="/candidater">Guide du candidat</a></button>
        </div>
      </form>

    </div>
  </div>
</section>


<div *ngIf="nagasa == 1">
  <app-oujda></app-oujda>
</div>
<div *ngIf="nagasa == 2">
  <app-jerada></app-jerada>
</div>
<div *ngIf="nagasa == 3">
  <app-berkane></app-berkane>
</div>
<div *ngIf="nagasa == 4">
  <app-autres></app-autres>
</div>
