<section class="formation-section">
  <div class="d-flex justify-content-center">
    <div class="forma-title">
      12 mois de plaisir et d'apprentissage
      <div class="green-line"></div>
    </div>
  </div>
  <div class="h-arrow d-flex mt-5 ml-3">
    <div class="f-arrow d-flex flex-column align-items-center">
      <h4>SAS - Self Assessment Skill</h4>
      <p>période de familiarisation avec les outils informatiques</p>
      <div class="hori-line"></div>
      <div class="ver-line"></div>
      <div class="arrow-320 mt-3 d-flex justify-content-center align-items-center">
        +320 HEURES
      </div>

    </div>
    <div class="s-arrow">

    </div>
    <div class="t-arrow">

    </div>
  </div>
</section>
