
.container_8 {


    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 373px;
}


.card1 {

    padding-left: 24px;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    background-color: #e4e2d7;
    padding-top: 75px;
}

.card1 > h1 {

    font-family: "Raleway";
    color: #2b2b2b;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 34px;

}


.card1 > p {

    font-family: Raleway;
    color:  #2b2b2b;
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;


}

.card1 > h6 {

    font-family: Noah;
    color:  #1bc193;
    font-weight: 700;
    font-size: 19px;

}



.card1_1 {

    display: flex;
    flex-direction: row;

}

#icon {


    margin-left: auto;
    padding-right: 19px;
    display: flex;
    flex-direction: row;
}

#icon > p {

    font-family: Raleway;
    color: #1bc193;
    font-size: 16px;
    font-weight: 600;
    padding-right: 12px;
}


#icon > img {

    width: 24px;
    height: 33px;



}


/* ----------------- START OF THE MEDIA QUERY ----------------- */



@media screen and (max-width: 988px) {

    .container_8 {


        display: grid;
        grid-template-columns: 1fr ;


    }
    
  }


