 <app-hero-section></app-hero-section> 

<div class="Container_1">  

    <div class="box"></div>
    <h6>Comment Candidater ?</h6>

</div>

    <p id="p_1">Quel que soit la formation pour laquelle vous postulez, vous devrez passer par plusieurs étapes :</p>

    <div class="Container_2">  

            <div class="Container_2_1">

                <p>i  +</p>
                <h6>etape 1: </h6>

                
            </div>

            <div class="Container_2_2">

                    <p>Remplir le formulaire de candidature et faire les tests de motivation</p>


            </div>


            
    </div>

<!-- ---------------- -->
    
    <div class="Container_3">  

            <div class="Container_3_1">

                <p>i +</p>
                <h6>etape 2: </h6>

                
            </div>

            <div class="Container_3_2">

                    <p>Passer une session d’entretiens individuels</p>


            </div>


            
    </div>


    <!-- ------------------ -->


    <div class="Container_4">  

            <div class="Container_4_1">

                <p>i +</p>
                <h6>etape 3: </h6>

                
            </div>

            <div class="Container_4_2">

                    <p>Se connecter à fr.khanacademy.org pour créer un compte et passer le test , puis envoyer votre candidature </p>


            </div>


            
    </div>


    <!-- ------------ -->


    
    <div class="Container_5">  

            <div class="Container_5_1">

                <p>i +</p>
                <h6>etape 4: </h6>

                
            </div>

            <div class="Container_5_2">

                    <p>Une fois les candidatures en ligne fermées, nous vous tenons au courant rapidement concernant la suite des événements <br>
                            Si vous êtes pré-sélectionné·e, nous vous invitons pour des entretiens individuels avec notre équipe Green Chip 2.0 , et nous vous faisons travailler sur des ateliers avec les autres personnes pré-sélectionnées. <br>
                            Et ce n’est pas la peine d’essayer, on ne vous dira pas <br> à quoi ressembleront les ateliers ;-)
                            
                    </p>


            </div>


            
    </div>